@import ../base/swatches

.flags
  .header
    background-color: $swatch-sunflower

  article
    margin-bottom: 36px

    .flag
      $size: 40px

      width: $size
      height: $size
      margin-bottom: 13px
      line-height: $size

      font-size: 20px