@import ../base/variables

.home
  ol
    list-style: none
    counter-reset: my-awesome-counter

  ol li
    counter-increment: my-awesome-counter

  ol li::before
    content: "0" counter(my-awesome-counter) "."
    margin-right: 4px

    vertical-align: super
    font-size: 13px

  ol li a
    line-height: 44px

    color: $color-text
    font-size: 21px
    font-weight: 300
    text-decoration: underline

@media ($bp-larger-than-tablet)
  .home
    ol
      columns: 2