@import ../base/swatches
@import ../base/variables
@import instruction-set/categoryList

.instruction-set
  .header
    background-color: $swatch-aqua
    color: white

  .flag.icon
    margin-right: 12px

  .addressing-list li a
    color: $color-text

  .button-return
    position: fixed
    bottom: 8px
    right: 20px
    width: 44px
    height: 44px
    opacity: .667

    text-decoration: none
    text-align: center
    color: $color-placeholder

@media ($bp-larger-than-tablet)
  .instruction-set
    .button-return
      opacity: 1