@import ../base/variables
@import ../base/swatches

@mixin button
  color: red

.button-secondary
  @include button

  width: 100%
  min-height: 58px
  border: none
  background-color: $color-background
  border-radius: 8px

  color: $swatch-dark-gray-shade
  text-transform: capitalize
  font-size: 1.9rem
  font-weight: 700
  letter-spacing: 0

.button-secondary:hover
  background-color: $swatch-light-gray-shade