@import ../base/variables
@import ../base/swatches

.category
  display: inline-block
  height: 16px
  padding-left: 6px
  border-left: solid 4px
  margin-bottom: $margin-medium
  line-height: 22px

  text-transform: uppercase
  font-weight: 300
  font-size: 1.3rem
  letter-spacing: 0.4px

.category.color-math
  border-left-color: $swatch-grapefruit-shade

.category.color-logic
  border-left-color: $swatch-bittersweet

.category.color-bit
  border-left-color: $swatch-sunflower

.category.color-branch
  border-left-color: $swatch-grass

.category.color-system
  border-left-color: $swatch-aqua

.category.color-flag
  border-left-color: $swatch-blue-jeans-shade

.category.color-comparisson
  border-left-color: $swatch-lavander

.category.color-counter
  border-left-color: $swatch-pink-rose

.category.color-subroutine
  border-left-color: $swatch-chocolate

.category.color-memory
  border-left-color: $swatch-light-gray-shade

.category.color-stack
  border-left-color: $swatch-medium-gray-shade

.category.color-register
  border-left-color: $swatch-dark-gray