@import ../base/variables

.flag-item  
  display: flex // to do 2 column icon layout
  list-style-type: none
  margin-bottom: 18px

  .label
    display: inline-block // to fix weird bug that don't let capitalize

    color: $color-text
    font-weight: 300
    text-transform: capitalize
