.flag.icon
  $size: 24px
  
  flex-shrink: 0
  display: inline-block
  width: $size
  height: $size
  border-radius: 50%
  line-height: $size

  text-align: center
  font-size: 12px

  &.icon-carry,
  &.icon-negative,
  &.icon-overflow,
  &.icon-zero
    background-color: $color-warning
    color: #BA8500

  &.icon-break,
  &.icon-interrupt
    background-color: $color-danger
    color: white