@import ../base/variables

.menu-header
  $height: 55px
  $padding-left: 16px
  $padding-right: 4px
  $tap-size: 44px
  $shadow: 0 2px 4px 0 rgba(0,0,0,0.10)

  box-sizing: border-box
  z-index: 1
  position: fixed
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  min-height: $height
  padding-left: $padding-left
  padding-right: $padding-right
  background-color: white
  box-shadow: $shadow

  .logo
    line-height: 0 // to properly align logo

  .menu-button
    width: $tap-size
    height: $tap-size
    padding: 0
    margin-bottom: 0
    border: none

    font-size: $tap-size

  .menu-nav
    z-index: 1
    box-sizing: border-box
    position: absolute
    top: $height
    left: 0
    background-color: white
    width: 100%
    padding-top: 24px
    padding-right: $padding-right
    padding-left: $padding-left
    box-shadow: $shadow

    ul li
      list-style-type: none

    ul li button
      text-align: left
      width: 100%
      min-height: $tap-size
      padding: 0
      border: none
      line-height: $tap-size

      color: $color-text
      font-size: 21px
      font-weight: 300
      text-transform: none

  .active
    font-weight: 700 !important
    

@media ($bp-larger-than-tablet)
  .menu-header
    $padding-left: 44px
    $padding-right: 44px
    
    padding-left: $padding-left
    padding-right: $padding-right

    .menu-nav
      padding-left: $padding-left
      padding-right: $padding-right


// Fix nav header
// 79px = 55 (header) + 24 (offset)
*:target
  padding-top: 79px
  margin-top: -79px

.target:before
  display: block
  content: " "
  height: 79px
  margin-top: -79px
  visibility: hidden