@import ../base/variables

.header
  display: flex
  flex-direction: column
  justify-content: flex-end
  
  min-height: 337px
  padding-top: 44px
  margin-bottom: 44px
  background-color: $color-background

  p
    font-size: 2rem