@import ../base/typography
@import ../base/variables
@import ../base/swatches

.note
  @include text-secondary

  box-sizing: border-box
  padding: 8px 16px
  border-left: solid 4px $color-info
  background-color: $color-background

  .title
    display: block
    color: $color-info
    font-size: 1.6rem
    font-weight: 300