/* Fira Code */
@font-face{
    font-family: 'Fira Code';
    font-display: swap;
    src: url('~@/assets/fonts/fira-code/FiraCode-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    font-display: swap;
    src: url('~@/assets/fonts/fira-code/FiraCode-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    font-display: swap;
    src: url('~@/assets/fonts/fira-code/FiraCode-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    font-display: swap;
    src: url('~@/assets/fonts/fira-code/FiraCode-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


/* Univers LT Std */
@font-face{
    font-family: 'Univers LT Std';
    font-display: swap;
    src: url('~@/assets/fonts/univers-lt-std/UniversLTStd-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Univers LT Std';
    font-display: swap;
    src: url('~@/assets/fonts/univers-lt-std/UniversLTStd.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Univers LT Std';
    font-display: swap;
    src: url('~@/assets/fonts/univers-lt-std/UniversLTStd-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}