@font-face {
  font-family: 'icomoon';
  font-display: swap;
  src: url('~@/assets/fonts/icomoon/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-menu-close:before {
  content: "\e901";
}
.icon-menu-open:before {
  content: "\e902";
}
.icon-go-up:before {
  content: "\e900";
}
.icon-break:before {
  content: "\62";
}
.icon-carry:before {
  content: "\63";
}
.icon-interrupt:before {
  content: "\69";
}
.icon-negative:before {
  content: "\6e";
}
.icon-overflow:before {
  content: "\6f";
}
.icon-zero:before {
  content: "\7a";
}
