<template>
  <article class="instruction" :id="prop.mnemonic">
    <!-- hidden span to fix fixed header -->
    <span class="target"></span>
    <!-- main -->
    <span class="category" :class="`color-${prop.category}`">{{ showCategoryName(prop.category) }}</span>

    <h2>
      {{ prop.name }} &ndash;
      <span class="notranslate">{{ prop.mnemonic }}</span>
    </h2>
    <p>{{ prop.description }}</p>

    <!-- flags -->
    <h3 v-if="flagsLen > 0">Flags affected:</h3>
    <ul>
      <li class="flag-item" v-for="(flag, name, index) in prop.flags" :key="index">
        <router-link :to="'/flags#' + name">
          <span class="flag icon" :class="`icon-${name}`"></span>
        </router-link>

        <span class="description">
          <router-link class="label" :to="'/flags#' + name">{{ name }}:</router-link>
          {{ flag }}
        </span>
      </li>
    </ul>

    <!-- addressing modes -->
    <h3>Addressing modes:</h3>
    <ol class="addressing-list" :class="{ doubleColumn: prop.addressingModes.length > 6 }">
      <li v-for="(mode, index) in prop.addressingModes" :key="index">
        <router-link :to="'/addressing-modes#' + mode">{{ showMode(mode) }}</router-link>
      </li>
    </ol>

    <!-- notes -->
    <div class="note" v-if="prop.note">
      <span class="title">Note:</span>
      {{ prop.note }}
    </div>
  </article>
</template>

<script lang="ts">
import Vue from "vue";
import { TAddressMnemonic } from "@/interfaces/TAddressMnemonic.ts";
import { TCategory } from "@/interfaces/TCategory.ts";

export default Vue.extend({
  computed: {
    flagsLen(): number {
      const flags: object = this.$props.prop.flags;

      return Object.keys(flags).length;
    }
  },
  methods: {
    showCategoryName(category: TCategory): string {
      let result = "";
      const errorMessage = `The category ${category} was not named correctly.`;

      if (category === "math") {
        result = "math";
      }
      if (category === "logic") {
        result = "logic";
      }
      if (category === "bit") {
        result = "bit manipulation";
      }
      if (category === "branch") {
        result = "branching";
      }
      if (category === "system") {
        result = "system control";
      }
      if (category === "flag") {
        result = "flags";
      }
      if (category === "comparisson") {
        result = "comparissons";
      }
      if (category === "counter") {
        result = "counters";
      }
      if (category === "subroutine") {
        result = "subroutines";
      }
      if (category === "memory") {
        result = "load and store";
      }
      if (category === "stack") {
        result = "stack operations";
      }
      if (category === "register") {
        result = "register transfers";
      }

      if (result === "") {
        throw new Error(errorMessage);
      }

      return result;
    },
    showMode(mode: TAddressMnemonic): string {
      let result = "";
      const errorMessage = `The addressing mode ${mode} was not named correctly.`;

      if (mode === "IP") {
        result = "Implicit";
      }
      if (mode === "IM") {
        result = "Inmediate";
      }
      if (mode === "ZP") {
        result = "Zero page";
      }
      if (mode === "ZX") {
        result = "Zero page X";
      }
      if (mode === "ZY") {
        result = "Zero page Y";
      }
      if (mode === "RE") {
        result = "Relative";
      }
      if (mode === "AB") {
        result = "Absolute";
      }
      if (mode === "AX") {
        result = "Absolute X";
      }
      if (mode === "AY") {
        result = "Absolute Y";
      }
      if (mode === "IA") {
        result = "Indirect absolute";
      }
      if (mode === "IX") {
        result = "Indirect X";
      }
      if (mode === "IY") {
        result = "Indirect Y";
      }

      if (result === "") {
        throw new Error(errorMessage);
      }

      return result;
    }
  },
  props: {
    prop: Object
  }
});
</script>
