<template>
  <figure>
    <table class="u-full-width">
      <caption>Registers comparisson</caption>
      <thead>
        <tr>
          <td>Action</td>
          <td>Accumulator</td>
          <td>X and Y Indexes</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Load or store values from memory</td>
          <td>
            <span class="icon icon-checkmark"></span>
          </td>
          <td>
            <span class="icon icon-checkmark"></span>
          </td>
        </tr>
        <tr>
          <td>Sum or subtract values</td>
          <td>
            <span class="icon icon-checkmark"></span>
          </td>
          <td>
            <span class="icon icon-cross"></span>
          </td>
        </tr>
        <tr>
          <td>Handle other instructions</td>
          <td>
            <span class="icon icon-checkmark"></span>
          </td>
          <td>
            <span class="icon icon-cross"></span>
          </td>
        </tr>
        <tr>
          <td>Quickly increment or decrement a value by 1</td>
          <td>
            <span class="icon icon-cross"></span>
          </td>
          <td>
            <span class="icon icon-checkmark"></span>
          </td>
        </tr>
        <tr>
          <td>Quickly compare values</td>
          <td>
            <span class="icon icon-cross"></span>
          </td>
          <td>
            <span class="icon icon-checkmark"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </figure>
</template>

<style lang="sass" scoped>
figure
  margin: 0

table
  td
    $padding: 8px
    padding-top: $padding
    padding-bottom: $padding

  td:nth-child(2),
  td:nth-child(3)
    width: 28%
    text-align: center

  tbody td
    font-weight: 300
    line-height: 21.75px

.icon-cross
  color: red

.icon-checkmark
  color: green
</style>
