  <template>
  <section class="addressing-modes">
    <header class="header">
      <div class="container">
        <h1>
          Addressing
          <br />Modes
        </h1>
        <p>These are the modes that the processor can use to access the information required</p>
      </div>
    </header>

    <section class="container">
      <h2>Table of contents</h2>
      <ol class="doubleColumn">
        <li>
          <a href="#IP">Implicit</a>
        </li>
        <li>
          <a href="#IM">Inmediate</a>
        </li>
        <li>
          <a href="#ZP">Zero Page</a>
        </li>
        <li>
          <a href="#ZX">Zero Page X</a>
        </li>
        <li>
          <a href="#ZY">Zero Page Y</a>
        </li>
        <!-- <li>
          <a href="#RE">Relative</a>
        </li>-->
        <li>
          <a href="#AB">Absolute</a>
        </li>
        <li>
          <a href="#AX">Absolute X</a>
        </li>
        <li>
          <a href="#AY">Absolute Y</a>
        </li>
        <li v-if="expertMode">
          <a href="#IA">Indirect Absolute</a>
        </li>
        <li v-if="expertMode">
          <a href="#IX">Indirect X</a>
        </li>
        <li v-if="expertMode">
          <a href="#IY">Indirect Y</a>
        </li>
      </ol>
      <hr />
    </section>

    <section class="container">
      <template v-for="(item, index) in modes">
        <article class="target" :key="index" v-if="!item.expertMode" :id="item.mnemonic">
          <!-- main -->
          <h2>{{ item.name }}</h2>
          <p>{{ item.description }}</p>

          <h3>Example</h3>
          <!-- writting exampe -->
          <pre>{{ item.code }}</pre>

          <!-- optional notes -->
          <div class="note" v-if="item.note">
            <span class="title">Note:</span>
            {{ item.note }}
          </div>
        </article>
        <hr v-if="index !== modes.length - 1 && !item.expertMode" :key="`hr-${index}`" />
      </template>
    </section>

    <footer class="footer container">
      <hr />
      <router-link
        class="button-secondary"
        tag="button"
        :to="{name: 'instruction-set'}"
      >Instruction set →</router-link>
    </footer>
  </section>
</template>

<script lang="ts">
import Vue from "vue";
import AddressingModesStore from "../store/AddressingModesStore";

export default Vue.extend({
  data() {
    return {
      modes: AddressingModesStore.addressingModes
    };
  },
  props: {
    expertMode: Boolean
  }
});
</script>
