<template>
  <section class="flags">
    <header class="header">
      <div class="container">
        <h1>Flags</h1>
        <p>These indicate the current status of the processor. We use these status to alter the course of the game</p>
      </div>
    </header>

    <section class="container">
      <h2>Table of contents</h2>
      <ol>
        <li>
          <a href="#carry">Carry</a>
        </li>
        <li>
          <a href="#negative">Negative</a>
        </li>
        <li>
          <a href="#overflow">Overflow</a>
        </li>
        <li>
          <a href="#zero">Zero</a>
        </li>
        <li>
          <a href="#break">Break</a>
        </li>
        <!-- <li>
          <a href="#interrupt">Interrupt Disable</a>
        </li> -->
      </ol>
      <hr />
    </section>

    <section class="container">
      <article class="target" id="carry">
        <span class="flag icon icon-carry"></span>
        <h2>Carry</h2>
        <p>The carry sign turns on when the result of the last instruction was a number greater than 255. You use it to do add or take bigger numbers.</p>
      </article>

      <article class="target" id="negative">
        <span class="flag icon icon-negative"></span>
        <h2>Negative</h2>
        <p>The negative sign turns on when the result of the last instruction is considered negative.</p>
        <h3>Whats considered a negative number?</h3>
        <p>Because the processor can only count from 0 to +255, we need a way to handle negative number in case we need them. The way to do it and taking into account the limitation of only be able to count to 255 is to divide the numbers in 2 groups:</p>
        <ol>
          <li>From 0 to 127 the numbers are considered positive.</li>
          <li>From 128 to 255 the numbers are considered negative.</li>
        </ol>
      </article>

      <article class="target" id="overflow">
        <span class="flag icon icon-overflow"></span>
        <h2>Overflow</h2>
        <p>The overflow sign turns on if the last instruction was adding 2 positive numbers and the result could be considered as a negative number.</p>
      </article>

      <article class="target" id="zero">
        <span class="flag icon icon-zero"></span>
        <h2>Zero</h2>
        <p>The zero sign turns on when the result of the last instruction is 0.</p>
      </article>

      <article class="target" id="break">
        <span class="flag icon icon-break"></span>
        <h2>Break</h2>
        <p>The break signs turns on when a BRK instruction is found in the program, or the program has finished.</p>
      </article>

      <article class="target" id="interrupt" v-if="expertMode">
        <span class="flag icon icon-interrupt"></span>
        <h2>Interrupt disable</h2>
        <p>
          The interrupt disable sign turns on when you write the SEI instruction in the program.
          Is used to avoid the program to be interrupted for a notification message, like the game stopping because you turn on the WIFI.
        </p>
      </article>
    </section>

    <footer class="footer container">
      <hr />
      <router-link
        class="button-secondary"
        tag="button"
        :to="{name: 'addressing-modes'}"
      >Addressing modes →</router-link>
    </footer>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    expertMode: Boolean
  },
})
</script>