<template>
  <section class="home">
    <header class="header">
      <div class="container">
        <h1>
          Kieszeń
          <br />Documentation
        </h1>
        <p>This is the official documentation of the Kieszeń game console</p>
      </div>
    </header>

    <section class="container">
      <h2>Processor guide</h2>
      <ol>
        <li>
          <router-link :to="{name: 'registers'}">Registers</router-link>
        </li>
        <li>
          <router-link :to="{name: 'flags'}">Flags</router-link>
        </li>
        <li>
          <router-link :to="{name: 'addressing-modes'}">Addressing Modes</router-link>
        </li>
        <li>
          <router-link :to="{name: 'instruction-set'}">Instruction Set</router-link>
        </li>
      </ol>
    </section>
  </section>
</template>
