<template>

  <!--
    To do: Save user session storage to remeber the difficulty tier that the user preffers.
  -->

  <section class="instruction-set">
    <!-- header -->
    <header class="header">
      <div class="container">
        <h1>
          Instruction
          <br />Set
        </h1>
        <p>These are the actions that our processor can understand, sorted by category</p>
      </div>
    </header>

    <!-- Tier select -->
    <section id="tier-selector" class="container">
      <p>Current tier: {{currentTier}}</p>
      <input type="range" min="0" max="2" class="slider" v-model="currentTier" />
    </section>

    <!-- table of contents -->
    <section id="table-of-contents" class="container">
      <h2>Instructions</h2>
      <ul class="category-list notranslate">
        <li v-for="(item, index) in tierList" :key="index">
          <router-link
            class="anchor"
            :title="item.name"
            :to="'#' + item.mnemonic"
          >{{ item.mnemonic }}</router-link>
        </li>
      </ul>
      <hr />
    </section>

    <!-- instructions -->
    <section class="container">
      <template v-for="(item, index) in tierList">
        <Instruction :prop="item" :key="index" />
        <hr v-if="index !== tierList.length - 1" :key="`hr-${index}`" />
      </template>
    </section>

    <!-- return button -->
    <a class="button-return" href="#table-of-contents" title="Return to top">
      <div class="icon icon-go-up"></div>
      <span class="label">go up</span>
    </a>

    <!-- footer -->
    <footer class="footer container">
      <hr />Credits:
      <a href="http://www.obelisk.me.uk/6502/reference.html" target="_blank">Obelisk</a>
      <br />
      <br />
      <router-link class="button-secondary" tag="button" to="/">Return home ←</router-link>
    </footer>
  </section>
</template>

<script lang="ts">
import Vue from "vue";
import Instruction from "./instruction-set/Instruction.vue";

import InstructionsStore from "../store/InstructionsStore";
import IInstruction from "../interfaces/IInstruction";

export default Vue.extend({
  components: {
    Instruction
  },
  computed: {
    tierList(): IInstruction[] {
      return this.instructions.filter(
        instruction => instruction.tier <= this.currentTier
      );
    }
  },
  data() {
    return {
      instructions: InstructionsStore.instructions,
      currentTier: 0
    };
  }
});
</script>