<template>
  <section class="instruction-categories">
    <!-- header -->
    <header class="header">
      <div class="container">
        <h1>
          Instruction
          <br />Set
        </h1>
        <p>These are the 11 actions that our processor can understand, sorted by category</p>
      </div>
    </header>

    <!-- table of contents -->
    <section id="table-of-contents" class="container">
      <h2>Instructions</h2>
      <ul class="category-list notranslate">
        <li v-for="(item, index) in instructions" :key="index">
          <router-link
            class="anchor"
            :title="item.name"
            :to="'/instruction-set#' + item.mnemonic"
          >{{ item.mnemonic }}</router-link>
        </li>
      </ul>
      <hr />
    </section>
  </section>
</template>