<template>
  <section class="registers">
    <header class="header">
      <div class="container">
        <h1>Registers</h1>
        <p>The registers are special memory locations inside the processor where the information is manipulated</p>
      </div>
    </header>

    <section class="container">
      <h2>Table of contents</h2>
      <ol>
        <li>
          <a href="#accumulator">Accumulator</a>
        </li>
        <li>
          <a href="#x-index">X Index</a>
        </li>
        <li>
          <a href="#y-index">Y Index</a>
        </li>
        <li>
          <a href="#stack-pointer">
            <span class="notranslate">Stack Pointer</span>
          </a>
        </li>
        <!-- <li>
          <a href="#program-counter">Program Counter</a>
        </li>
        <li>
          <a href="#processor-status">Processor Status (flags)</a>
        </li>-->
      </ol>
      <hr />
    </section>

    <section class="container">
      <article id="accumulator">
        <h2>Accumulator</h2>
        <p>This is the most important register. This is where you can do math operations like add and subtract.</p>
      </article>

      <article id="x-index">
        <h2>X Index</h2>
        <p>Is a support register for the accumulator. It can only increase or decrease a number by one because it is designed to be used as a counter. For example, to run a code a certain number of times.</p>
      </article>

      <article id="y-index">
        <h2>Y Index</h2>
        <p>Is a support register for the accumulator just like the X index.</p>
        <p>This means that you could perform a second counting sequence of code without deleting the information in the X register.</p>
      </article>

      <article id="stack-pointer">
        <h2>
          <span class="notranslate">Stack Pointer</span>
        </h2>
        <p>Is designed to exclusively point to the location of the last number stored in the section of the memory called the stack.</p>
        <p>The memory location Stack is used to store and retrieve data that needs to be access in sequence.</p>
      </article>
      
      <article id="program-counter" v-if="expertMode">
        <h2>Program Counter</h2>
        <p>The program counter is a register designed to exclusively point to the current location of the code being run in the section of the memory called the program code.</p>
      </article>

      <article id="processor-status" v-if="expertMode">
        <h2>Processor Status</h2>
        <p>The program status holds information about the result of the last operation executed. This information is used by the processor to execute branch ramification in the code.</p>
        <div class="note">
          <span class="title">Note</span>
          To know what information does the processor status hold, see the section "Flags"
        </div>
      </article>
    </section>

    <footer class="footer container">
      <hr />
      <router-link class="button-secondary" tag="button" :to="{name: 'flags'}">Flags →</router-link>
    </footer>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    expertMode: Boolean
  }
})
</script>