.category-list
  display: inline-block
  max-width: 440px
  margin-bottom: 0

  li 
    $size: 44px

    box-sizing: border-box
    float: left
    border: solid .5px $swatch-medium-gray
    width: 12.5%
    height: $size
    margin-bottom: 0
    list-style-type: none
    text-align: center
    line-height: $size

  li a
    display: block

  li a:hover
    background-color: $color-background

@media ($bp-larger-than-tablet )
  .category-list li
    $size: 36px

    height: $size
    line-height: $size