<template>
  <header id="navbar" class="menu-header">
    <!-- logo -->
    <router-link class="logo" :to="{name: 'home'}">
      <img src="../assets/images/logo.svg" alt="logo Kieszen documentantion" />
    </router-link>

    <!-- menu button -->
    <button class="menu-button" @click="onMenu()">
      <span class="icon" :class="`icon-menu-${menuIcon}`"></span>
    </button>

    <!-- menu list -->
    <nav v-if="menuOpen" class="menu-nav">
      <ul>
        <li>
          <button @click="onRoute('home')" :class="{active: active === 'home'}">Home</button>
        </li>
        <li>
          <button @click="onRoute('registers')" :class="{active: active === 'registers'}">Registers</button>
        </li>
        <li>
          <button @click="onRoute('flags')" :class="{active: active === 'flags'}">Flags</button>
        </li>
        <li>
          <button
            @click="onRoute('addressing-modes')"
            :class="{active: active === 'addressing-modes'}"
          >Addressing Modes</button>
        </li>
        <li>
          <button
            @click="onRoute('instruction-set')"
            :class="{active: active === 'instruction-set'}"
          >Instruction Set</button>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  computed: {
    menuIcon(): string {
      let result = this.menuOpen ? "close" : "open";
      return result;
    }
  },
  data() {
    return {
      active: "",
      menuOpen: false
    };
  },
  methods: {
    onMenu() {
      console.log("onMenuButton");

      this.menuOpen = !this.menuOpen;
    },
    onRoute(route: string) {
      console.log("onNavigate");

      this.menuOpen = !this.menuOpen;
      this.$router.push({ name: route });
    }
  },
  watch: {
    $route(to, from) {
      this.active = to.name;
    }
  }
});
</script>
