<template>
  <div id="app">
    <!-- Header Menu -->
    <HeaderMenu />

    <!-- View -->
    <router-view class="view" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import HeaderMenu from "@/components/HeaderMenu.vue";

export default Vue.extend({
  components: {
    HeaderMenu
  }
});
</script>


<style lang="sass">
html 
  color: auto
</style>
