@import ./variables
@import ./swatches

body
  margin: 0  

#app
  box-sizing: border-box

  color: $color-text
  font-family: $font-primary
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.container
  max-width: $container-width

// Utils
.doubleColumn
  columns: 2