$swatch-grapefruit:         #ED5565;
$swatch-grapefruit-shade:   #DA4453;
$swatch-bittersweet:        #FC6E51;
$swatch-bittersweet-shade:  #E9573F;
$swatch-sunflower:          #FFCE54;
$swatch-sunflower-shade:    #F6BB42;
$swatch-grass:              #A0D368;
$swatch-grass-shade:        #8CC052;
$swatch-mint:               #48CFAD;
$swatch-mint-shade:         #37BC9B;
$swatch-aqua:               #4FC0E9;
$swatch-aqua-shade:         #3BAFDA;
$swatch-blue-jeans:         #5D9CEC;
$swatch-blue-jeans-shade:   #4A89DC;
$swatch-lavander:           #AC92ED;
$swatch-lavander-shade:     #967ADC;
$swatch-pink-rose:          #EC87C0;
$swatch-pink-rose-shade:    #D770AD;
$swatch-chocolate:          #CBB386;
$swatch-chocolate-shade:    #9C7E46;
$swatch-light-gray:         #F5F7FA;
$swatch-light-gray-shade:   #E6E9ED;
$swatch-medium-gray:        #CCD1D9;
$swatch-medium-gray-shade:  #AAB2BD;
$swatch-dark-gray:          #656D78;
$swatch-dark-gray-shade:    #434A54;
