@import ./swatches
@import ./variables

// Note: 
// Leave all the letter-spacing properties alone. Even when they look like adjusting less than 1px, it drastically changes the browser rendering.
h1
  margin-bottom: 18px
  font-size: 6.4rem
  font-weight: 700
  line-height: 1.05
  letter-spacing: -2px

h2
  margin-bottom: 18px
  font-size: 2.1rem
  font-weight: 700
  letter-spacing: 0.4px

h3
  margin-bottom: 12px
  font-size: 1.9rem
  font-weight: 300
  letter-spacing: 0.1px

p
  margin-bottom: 18px
  font-size: 1.9rem
  font-weight: 300
  line-height: 28px

@mixin text-secondary
  font-size: 1.6rem
  font-weight: 300
  line-height: 24px